<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <h6 class="my-2">找不到餐廳嗎? 試試 <a type="button" class="text-muted" data-bs-toggle="modal" data-bs-target="#create-restaurant">新增餐廳</a> 吧！</h6>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  {{#unless restaurants}}
    <div class="fs-4 text-center">查無結果</div>
  {{/unless}}
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants}}
        
        <div>
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <div class="card mb-3">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>

                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>

              </div>
            </div>
          </a>

          <div class="d-flex mb-3">
            <a href="/restaurants/{{this._id}}" class="btn btn-outline-secondary btn-sm ms-auto"><small>詳情</small></a>
            <a href="/restaurants/{{this._id}}/edit" class="btn btn-outline-secondary btn-sm ms-2"><small>編輯</small></a>
            <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-outline-secondary btn-sm d-inline ms-2" onclick="return confirm('確定要刪除嗎?')"><small>刪除</small></button>
            </form>
          </div>
        </div>
        
        {{/each}}
      </div>
    </div>
  </div>
</div>

<!-- dropdown for data sorting, if place it on the top of restaurant list, modal cannot work -->
<div class="dropdown sort">
  <button class="btn btn-major dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    {{#sortText sort}}{{/sortText}}
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{#sortUrl keyword 'none'}}{{/sortUrl}}">無</a></li>
    <li><a class="dropdown-item" href="{{#sortUrl keyword 'AtoZ'}}{{/sortUrl}}">A -> Z</a></li>
    <li><a class="dropdown-item" href="{{#sortUrl keyword 'ZtoA'}}{{/sortUrl}}">Z -> A</a></li>
    <li><a class="dropdown-item" href="{{#sortUrl keyword 'category'}}{{/sortUrl}}">類別</a></li>
    <li><a class="dropdown-item" href="{{#sortUrl keyword 'location'}}{{/sortUrl}}">地區</a></li>
  </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="create-restaurant" tabindex="-1" aria-labelledby="modal1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal1">新增餐廳</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/restaurants" method="POST">
          <div class="row px-2">
            <div class="col border-end px-3">
              <p class="text-black-50 my-0"><small>(必填欄位)</small></p>
              <label for="name" class="col-form-label">餐廳名稱：</label>
              <input type="text" class="form-control" id="name" name="name" maxlength="50" placeholder="最長不得超過50字" required>
              <label for="category" class="col-form-label">餐廳類型：</label>
              <select class="form-select" id="category" name="category" aria-label="category" required>
                <option value="" selected disabled>請選擇</option>
                <option value="中東料理">中東料理</option>
                <option value="日本料理">日本料理</option>
                <option value="義式餐廳">義式餐廳</option>
                <option value="美式">美式</option>
                <option value="酒吧">酒吧</option>
                <option value="咖啡">咖啡</option>
              </select>
              <label for="rating" class="col-form-label">評分：</label>
              <input type="number" class="form-control" id="rating" name="rating" placeholder="0-5顆星" step="0.1" max="5" min="0" required>
            </div>
            <div class="col px-3">
              <p class="text-black-50 my-0"><small>(自由填答)</small></p>
              <label for="description" class="col-form-label">簡介：</label>
              <textarea class="form-control" id="description" name="description" maxlength="1000" rows="5" cols="33" placeholder="最長不得超過1000字"></textarea>
              <label for="image" class="col-form-label">照片：</label>
              <input type="url" class="form-control" id="image" name="image" placeholder="請輸入圖片網址">
              <label for="location" class="col-form-label">地址：</label>
              <input type="text" class="form-control" id="location" name="location" maxlength="50" placeholder="最長不得超過50字">
              <label for="phone" class="col-form-label">電話：</label>
              <div>
                <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9\s\-()]{6,20}" placeholder="請輸入電話號碼">
                <div class="input-hint">
                  長度需介於6至20字元之間，可包含半形數字、空白、"()"或"-"
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex my-3">
            <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary ms-2">儲存</button>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>